.main {
  margin-left: 300px;
  padding: 32px;
  min-height: 100vh;
}

.main-title {
  padding: 32px 0;
  h4 {
    margin-bottom: 0;
    padding: 8px 0;
  }
}

.south {
  font-size: 18px;
}

.table-tool {
  padding: 0.5rem 0 !important;
  button {
    margin-left: 20px;
  }
}

.page-link:hover {
  background-color: #198754;
  color: #fff !important; 
}

.main-content {
  margin-bottom: 60px;
}